<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	 <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<title>https://www.BeFit.com</title>
</head>

<body class="header error" style="background-image: url({{ url_for('static', filename='Images/404.jpg') }})"> 
	<form>
		<a href="{{ url_for( 'home') }}"><input type="button" class="btn btn-dark btn4" value="Go to Home"</form></a>
</body>
</html>