<html>
  <body>
    <form action="#" method="POST">
      <table border="3">

        
        <tr>
          <th>Blog_id</th>
          <th>Username</th>
           <th>Image</th>
            <th>Title</th>
             <th>Description</th>
              <th>Date</th>
                </tr>
        {% for resul in result%}
        <tr>
          <td>{{resul.blog_id}}</td>
          <td>{{resul.username}}</td>
          <td>{{resul.image}}</td>
          <td>{{resul.title}}</td>
          <td>{{resul.des}}</td>
          <td>{{resul.date}}</td>
        </tr>
        {%endfor%}
        </table> 
      </form>
    </body>
  </html>
  