<html>
  <body>
    <form action="#" method="POST">
      <table border="3">

        
       
        <tr>  <th>Blog id</th><td>{{resul.blog_id}}</td></tr>
         <tr> <th>Username</th><td>{{resul.username}}</td></tr>
         <tr>  <th>Image</th><td>{{resul.image}}</td></tr>
         <tr>   <th>Title</th>  <td>{{resul.title}}</td></tr>
         <tr>  <th>Description</th><td>{{resul.des}}</td></tr>
        <tr>   <th>Date</th><td>{{resul.date}}</td></tr>      
        <tr>
       
        <td></td><td><a href="{{url_for('update',username='{{resul.username}}')}}" ><button >Edit</button></a></td></tr>
        </table> 
      </form>
    </body>
  </html>
  