<html>

  <head>

           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
         <link href="{{ url_for('static',filename='style.css')}}" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head> 

 <body class="header" style="background-image: url({{ url_for('static', filename='Images/fit1.jpg') }})"> 
    
    <div class="overlay">

      
      <div class="container">
       
        <div class="row">

          
          <!--  Navigation -->
      
            <nav class="navbar navbar-expand-lg navbar-light ">

                <div class="container-fluid">
                
                <img src="/static/Images/logo.jpeg" height=130px width=160px>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="about.html">About</a>
                    </li>
                     <li class="nav-item">
                      <a class="nav-link text-white" href="login.html">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="contact.html">Contact us</a>
                    </li>
                     <li class="nav-item">
                      <a class="nav-link text-white" href="blog.html">Blog</a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link text-white" href="team.html">Our Team</a>
                       </li>
                        <li class="nav-item">
                         <a class="nav-link text-white" href="service.html">Services</a>
                       </li>
                         <li class="nav-item">
                         <a class="nav-link text-white" href="map.html">Site Map</a>
                       </li>
                         <li class="nav-item">
                         <a class="nav-link text-white" href="gallery.html">Gallery</a>
                       </li>
                  
                  </ul>


                   <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                  </form>

                  </div>

                </div>
            </nav>
            <hr>
          </div>
        </div>
    

      <!-- Navigation -->

<!-- Login form -->
  <div class="container">
    <div class="row">
      <form action="#" method="POST">
        <h1 class="text-center text-white"> Blogs</h1>
        {% for resul in result1%}
      <table border=3 class="table text-white col-lg-12" style="margin-left: 370px;width:400px">
        
            
             
        <tr>  <th>Blog id</th><td>{{resul.blog_id}}</td></tr>
         <tr> <th>Username</th><td>{{resul.username}}</td></tr>
         <tr>  <th>Image</th><td>{{resul.image}}</td></tr>
         <tr>   <th>Title</th>  <td>{{resul.title}}</td></tr>
         <tr>  <th>Description</th><td>{{resul.des}}</td></tr>
        <tr>   <th>Date</th><td>{{resul.date}}</td></tr>      
        <tr>
            
         
         
        </table>
        {%endfor%}
          </div>
         
        </form>
      
      </div>
    
    </div>
  </div>
</div>
</div>




   </footer> 
  </body>

</html>